*{
    padding: 0;
    margin: 0;
    /* border: 2px solid; */
    /* border-color: grey; */
    color: white;
}

body{
    background-color: black;
}

.textlight{
    font-family: monospace;
    display: flex;
    font-size: x-large;
    /* justify-content: center;  */
    /* text-justify:auto; */
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0;
}

/* 549 */

.modelselect{
    height: 83vh;
    width: 20vw;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 90px;
    border-color: rgb(34, 34, 34);
    border-style: solid;
    padding-top: 0;
    background: linear-gradient(360deg, rgba(34, 34, 34, 1) 0%, rgb(72, 72, 72) 100%); 

}

.collapse-bar {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    cursor: pointer;
    display: flex; 
    justify-content: space-between; /* Align text and icon */
    align-items: center; 
}

.collapse-bar i { /* Style for the arrow icon */
    transition: transform 0.3s ease;
}

.modelselect.collapsed .collapse-bar i { /* Rotate icon on collapse */
    transform: rotate(180deg);
}

.modelselect.collapsed .menu {
    max-height: 0; /* Collapse the menu */
    transition: max-height 0.3s ease-in-out; /* Smooth collapse transition */
}